{{!-- Takes a recipe object from MealsDB --}}
<div class="meal-details">
    <div class="row">
        <h2 id="recipeTitle" class="pb-3 text-center">{{recipeDetails.recipe.strMeal}}</h2>
    </div>
    <div class="row avoid-break-inside">
        {{!-- Ingredients and picture/button --}}
        <div class="col col-6">
            <h2 class="fs-4">Ingredients</h2>
            {{#each (combine_ingredients recipeDetails.recipe)}}
            <li class="fs-6 py-1">{{this}}</li>
            {{/each}}
        </div>
        <div class="col col-6 ">
            <div class="row">
                <img src="{{recipeDetails.recipe.strMealThumb}}" id="detailThumbnail" class="img-fluid">
            </div>
            <div class="row mt-2 col-6 mx-auto no-print" id="button-swapper">

                {{#if logged_In}}
                {{#if recipeDetails.saved}}
                <button class="button btn" id="delete"
                    data-idMeal="{{recipeDetails.recipe.idMeal}}">Delete</button>
                {{else}}
                <button class="button btn mw-25" id="save"
                    data-idMeal="{{recipeDetails.recipe.idMeal}}">Save</button>
                {{/if}}
                {{else}}
                <a href="/login">
                <button class="button btn" id="login">Log in to save recipes</button>
                </a>
                {{/if}}
                 <button class="button btn no-print" id="printButton">Print</button>

            </div>
        </div>
    </div>
    <div class="row mt-5 avoid-break-inside">
        <h2 class="fs-4">Instructions</h2>
        {{#each (break_instructions recipeDetails.recipe)}}
        <p class="fs-6">{{this}}</p>
        {{/each}}
    </div>
</div>


      </section>
    </div>
  </div>
</div>
<script src="/js/mealDetails.js"></script>